<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <title>vagrant/ansible hands-on</title>
</head>
<body>
  <p>{{ html_content }}</p>
</body>
</html>
